body {
    margin: 0%;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    box-sizing: border-box;
}

p {
    color: white;
}

/* Téléphone */

@media(max-width: 767px) {

    .navbar {
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 10px;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    #nav-pc {
        display: none;
    }

    .iconify {
        height: 50px;
        width: 100%;
    }

    .infos {
        width: 100%;
        margin: 0%;
        color: white;
    }

}

@media(min-width: 768px) {

    .navbar {
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 10px;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    #nav-pc {
        display: none;
    }

    .iconify {
        height: 50px;
        width: 100%;
    }

    .infos {
        width: 100%;
        margin: 0%;
        color: white;
    }

    .centre1 {
        background: url("images/slide1") no-repeat cover;
    }

    hr {
        color: lightgray;
        margin: 0%;
    }

    .pied {
        margin: 0%;
        background-color: black;
    }
}

@media(min-width: 1200px) {
    .navbar {
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 10px;
        display: flex;
        align-items: left;
        justify-content: left;
    }

    .iconify {
        height: 50px;
        width: 100%;
    }

    .infos {
        width: 100%;
        margin: 0%;
        color: white;
    }

    .centre1 {
        background-image: url("images/slide1");
    }

    hr {
        color: lightgray;
        margin: 0%;
    }

    .pied {
        margin: 0%;
        background-color: black;
    }
}